{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}

  <div class="container xl about-overview-block">
    <section class="hero">
      <div class="images">
        <amp-img class="triangle"
            noloading
            height=1575
            width=1076
            layout=responsive
            src="/static/img/about/overview/{{doc.hero.triangle_img}}">
        </amp-img>
        <amp-img class="line1"
            noloading
            height=522
            width=583
            layout=responsive
            src="/static/img/about/overview/{{doc.hero.line1_img}}">
        </amp-img>
        <amp-img class="line2"
            noloading
            height=327
            width=359
            layout=responsive
            src="/static/img/about/overview/{{doc.hero.line2_img}}">
        </amp-img>
        <amp-img class="phone"
            noloading
            height=1568
            width=1844
            layout=responsive
            srcset="{{doc.hero.phone_img_base + '.png 1844w'}},
                    {{doc.hero.phone_img_base + '@1_5x.png 1217w'}},
                    {{doc.hero.phone_img_base + '@1x.png 922w'}}"
            src="{{doc.hero.phone_img_base + '.png'}}">
        </amp-img>
      </div>
      <div class="text">
        <h1>{{_(doc.hero.title)}}</h1>
        <p class="intro">{{_(doc.hero.content)}}</p>
      </div>
    </section>
  </div>



  {% with cta = doc.cta %}
    {% include "/views/partials/footer-cta.html" %}
  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}
