{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}

  <div class="container xl about-overview-block">
    <section class="hero">
      <div class="text">
        <h1>{{_(doc.hero.title)}}</h1>
        <p>{{_(doc.hero.subtitle)}}</p>
      </div>
    </section>
    
    <div class="uses">
      <div class="uses-col">
        {% for card in doc.use_cards %}
          <div class="use">
            <a href="{{card.link}}">
              <amp-img layout="responsive"
                  src="{{card.hero_img_base}}"
                  width="{{card.hero_img_width}}"
                  height="{{card.hero_img_height}}"
                  class="post-logo"></amp-img>
              <h4>{{card.name}}</h4>
            </a>
          </div>
          {% if not loop.last and loop.index is divisibleby 1 %}
        </div>
        <div class="uses-col">
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>

  {% with cta = doc.cta %}
    {% include "/views/partials/footer-cta.html" %}
  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}
