.about-uses {

  .hero {
    margin: 100px auto;
    max-width: 500px;
    text-align: center;
  }

  .uses {
    display: flex;
    margin: 0 auto 100px;
    position: relative;
  }

  .uses-col {
    flex: 3 1 auto;
    width: 0;
    padding: 20px;
  }

  .use {
  }

  @include max-screen($tablet-portrait-breakpoint) {
    .wrap {
      &::after {
        display: none;
      }

      &::before {
        top: -750px;
      }
    }

    .hero {
      margin-bottom: 30px;
    }

    .points {
      background: none;
      margin: 30px 0;
      padding-top: 0;

      &::before, &::after {
        display: none;
      }
    }
  }
}
